{% if( "imprimido" in values ){ %} 
    {% if( values.imprimido == 1 ){ %} 
        <div class="col-md-12 layout" id="{{values.id}}_id" style="padding-top: 15px;">
    {% }else{ %}
        <div class="col-md-12 layout printable" id="{{values.id}}_id" style="padding-top: 15px;">
    {% } %}
{% }else{ %}
    <div class="col-md-12 layout printable" id="{{values.id}}_id" style="padding-top: 15px;">
{% } %}
    <div class="row" style="border-bottom: 1px solid #ddd; padding-bottom:7px">
        <div class="row">
            <div class="title col-md-1">
                <a onclick="plato_delete( \'{{values.itemname}}\' , this )" id="{{values.id}}_delete" class="vdel" ><i class=" octicon octicon-circle-slash" style="color:#ff5858"></i></a>
            </div>
            <div class="title col-md-5" style="font-size: 9pt;">{{values.itemname}}</div>
            <div class="title col-md-2" style="padding-left: 3px;padding-right: 3px;font-size: 9pt;">
                <a onclick="plato_minus( \'{{values.itemname}}\' , this )" id="{{values.id}}_minus" class="vminus"><i class=" octicon octicon-dash" style="color:#5e64ff;padding-left: 4px;padding-right: 4px;"></i></a>
                <span id="{{values.id}}_qty" class="vqty">{{values.qty}}</span>
                <a onclick="plato_plus( \'{{values.itemname}}\' , this )" id="{{values.id}}_plus" class="vplus"><i class="octicon octicon-plus" style="color:#5e64ff;padding-left: 4px; padding-right: 4px;"></i></a>
            </div>
            <div class="title col-md-1 vlito">
                {%  if( "servido" in values   ){   %}
                    {%  if( values.servido == 1   ){   %}
                        <a id="{{values.id}}_href"><i class="octicon octicon-bell" style="color:#dcdcdc"></i></a>
                {% }else{ %}
                        <a onclick="plato_preparado(  \'{{values.itemname}}\' , this )" id="{{values.id}}_href" >
                            <i class="octicon octicon-bell" style="color:#98d85b"></i>
                            </a>
                {% } %}
                {% }else{ %}
                    <a onclick="plato_preparado(  \'{{values.itemname}}\' , this )" id="{{values.id}}_href" >
                        <i class="octicon octicon-bell" style="color:#98d85b"></i>
                    </a>
                {% } %}
            </div>
            <div class="title col-md-1 vrate">{{values.rate}}</div>
            <div class="title col-md-2 vtotal" id="{{values.id}}_rate" data-tipo="rate">{{ parseFloat(values.rate) * parseFloat(values.qty) }}</div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color:#ccc;font-size:8.5pt;
            padding-left: 20pt;
            padding-right: 20pt;">
            {%  for( var e in values.elements   ){   %}
                {{ " "+values.elements[e] }} -
            {% } %}
            {% if(values.comentario !== undefined ){ %}
            {{ values.comentario }}
            {% } %}
            </div>
        </div>
    </div>
</div>