<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
            <meta name="author" content="Coderthemes">


            <title>{{company_name}}</title>

            <link href="assets/restaurante/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="assets/restaurante/css/core.css" rel="stylesheet" type="text/css" />
            <link href="assets/restaurante/css/components.css" rel="stylesheet" type="text/css" />
            <link href="assets/restaurante/css/icons.css" rel="stylesheet" type="text/css" />
            <style>

                .panel.panel-default div{
                    background-color: white;
                }
            </style>
        </head>

        <body>
            <div style="max-width: 74mm;margin: auto;margin-top: 15px;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);border: 1px solid #eee;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default" style="margin-bottom: 0;margin-top:0;" id="pdf1">
                            <div class="col-md-12 text-center">
                                <h3 style="font-size: 13pt;"><b>{{company_name}}</b></h3>
                                <p><b>{{tipo}}: {{name}}</b></p>
                                <p>Ruc: {{sunat.ruc}}</p>
                                {% if logo != "None" %}
                                <br/>
                                <img src="{{ logo }}" alt="{{company_name}}" style="max-height: 100px;max-width: 100px;">
                                <br/>
                                <br/>
                                {% endif %}
                                <p><small>{{direccion}}</small></p>
                            </div>
                            <div class="col-md-12" style="padding:10px;font-size: 9pt;">
                                <h5><b>Adquiriente:</b></h5>
                                <p style="max-width: 65mm;width: 65mm;word-break: break-all;">
                                {%if cliente_ruc != "" %}
                                {{cliente_ruc}} -&nbsp;
                                {% endif %}
                                <small>{{cliente}}</small></p>
                                {%if cliente_direccion != "" %}
                                <p style="max-width: 65mm;width: 65mm;word-break: break-all;"><small>{{cliente_direccion}}</small></p>
                                {% endif %}
                                <br>
                            </div>
                            <div class="col-md-12" style="padding:10px">
                            <table style="width: 100%; ">
                                <colgroup>
                                    <col style=" width:15%;">
                                    <col style="width:45%;">
                                    <col style="width:20%;">
                                    <col style="width:20%;">
                                </colgroup>
                                <tr>
                                    <th style="font-size: 9pt;">Cant</th>
                                    <th>Producto</th>
                                    <th style="font-size: 9pt;text-align: right;">Precio U</th>
                                    <th style="font-size: 9pt;text-align: right;">Total</th>
                                </tr> 
                                {% for item in items: %}
                                <tr>
                                    <td style="font-size: 9pt;max-width: 65mm;width: 65mm;word-break: break-all;">{{ item.qty }}</td>
                                    <td style="font-size: 9pt;max-width: 65mm;width: 65mm;word-break: break-all;">{{ item.item_code }}</td>
                                    <td style="font-size: 9pt;text-align: right;max-width: 65mm;width: 65mm;word-break: break-all;">S/. {{ item.rate }}</td>
                                    <td style="font-size: 9pt;text-align: right;max-width: 65mm;width: 65mm;word-break: break-all;">S/. {{ item.amount }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <br>
                            
                            <span style="font-size:9pt;max-width: 65mm;width: 65mm;word-break: break-all;">{{letras}}</span>
                            <hr>
                            </div>
                            <div class="col-md-12">
                                <p class="text-right" style="font-size: 9pt;" ><b>Subtotal: </b> S/. {{subtotal}}</p>
                                <p class="text-right" style="font-size: 9pt;" ><b>IGV {{ porcentaje_igv }}%: </b>S/. {{igv}}</p>
                                <p class="text-right" style="font-size: 9pt;" ><b>Total: </b>S/. {{ total }}</p>
                                <br>
                            </div>
                            
                            {% if filename != "" %}
                            <div class="col-md-12 text-center" style="font-size: 9pt">
                                <p>Representación impresa de la {{tipo}}</p>
                                <p>https://{{domain}}/cpe?t={{tip}}&c={{compro}}</p>
                                <p>Autorizado mediante Resolución de Intendencia No.034-005-0005315</p>
                                <p>Resumen:</p>
                                <p style="font-size: 9pt;max-width: 65mm;width: 65mm;word-break: break-all;">{{hashe}}</p>
                                <div id="sunatqr" style="max-width: 65mm;width: 65mm;word-break: break-all;">
                                    {{qr}}
                                </div>
                                <br>
                                <br>
                            </div>
                            <br>
                            <div class="col-md-12 hidden-print" style="background-color: #fff">
                                <div class="pull-right">
                                    <a href="javascript:window.print()" class="btn btn-inverse waves-effect waves-light">Imprimir</a>
                                    <a onclick="pdf()" class="btn btn-primary waves-effect waves-light">Ver pdf</a>
                                </div>
                            </div>  
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
            <script>
                var resizefunc = [];
            </script>
            <script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/assets/sunat/js/sunatqrcode.min.js"></script>
            <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
            <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
            <script>
                function pdf(){ 
                    $(".hidden-print").hide();
                    kendo.drawing.drawDOM("#pdf1",{
                        paperSize: "auto",
                        margin: { top: "1cm", bottom: "1cm" },
                        scale: 0.7,
                        height: 500
                            })
                        .then(function(group){
                        kendo.drawing.pdf.saveAs(group, "{{ name }}.pdf");
                        $(".hidden-print").show();
                    });
                }
            </script>
        </body>

    </html>
    
